@import "./theme/settings";

.footer {
  position: relative;
  bottom: 4.5rem;
  width: 87%;
  min-height: auto;
  margin: auto auto 0;
  & * {
    transition: all 100ms linear;
  }

  .text-container {
    margin: 0 auto;
    max-width: 17.4375rem;
    .brand-container {
      width: 9.3125rem;
      height: 3.6875rem;
      cursor: pointer;
      img {
        max-width: 100%;
      }
    }
    .footer__title {
      @include fontStyle(var(--fs-pm), var(--lh-pm), $--fw-regular, $--foreground, undefined);
      margin: 1em 0;
    }
    .text {
      @include fontStyle(
        var(--fs-ps),
        var(--lh-fs),
        $--fw-regular,
        $--foreground-opaque,
        undefined
      );
      margin: 0.75rem 0;
    }
    a {
      text-decoration: none;
      color: $--clr-primary-blue;
    }
  }

  .contact-info {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.875rem;
    margin: 2em auto;
    max-width: 14.0625rem;
    .row {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      .contact-info__question,
      .contact-info__method {
        grid-column: 2 / 4;
        margin: auto 0;
      }
      .contact-info__question {
        @include fontStyle(
          var(--fs-ps),
          14.06px,
          $--fw-regular,
          $--foreground-opaque,
          undefined
        );
      }
      .contact-info__method {
        @include fontStyle(
          var(--fs-pm),
          20px,
          $--fw-regular,
          $--clr-primary-blue,
          undefined
        );
      }
      .icon-container {
        grid-row: 1 / 3;
        @include flexbox(center, center, column);
        width: 3rem;
        height: 3rem;
        img {
          width: 100%;
        }
      }
    }
  }

  .copyright {
    width: 100%;
    max-width: 17.4375rem;
    margin: 1em auto;
    &-text {
      @include fontStyle(
        var(--fs-ps),
        14.06px,
        $--fw-regular,
        $--foreground-opaque,
        undefined
      );
      text-align: center;
      max-width: 13.75rem;
      margin: 0 auto;
    }
  }

  @include sm {
    .text-container {
      max-width: 19.18125rem;
      .brand-container {
        width: 10.24375rem;
        height: 4.05625rem;
      }
      .text {
        margin: 0.825rem 0;
      }
    }
    .contact-info {
      gap: 2.0625rem;
      margin: 2.2em auto;
      max-width: 15.46875rem;
      .row {
        .contact-info__question {
          line-height: 15.466px;
        }
        .contact-info__method {
          line-height: 22px;
        }
        .icon-container {
          width: 3.3rem;
          height: 3.3rem;
        }
      }
    }
    .copyright {
      max-width: 19.18125rem;
      margin: 1.1em auto;
      &-text {
        line-height: 15.466px;
        max-width: 15.125rem;
      }
    }
  }

  @include md {
    .text-container {
      max-width: 22.66875rem;
      .brand-container {
        width: 12.10625rem;
        height: 4.79375rem;
      }
      .text {
        margin: 0.975rem 0;
      }
    }
    .contact-info {
      gap: 2.4375rem;
      margin: 2.6em auto;
      max-width: 18.28125rem;
      .row {
        .contact-info__question {
          line-height: 18.278px;
        }
        .contact-info__method {
          line-height: 26px;
        }
        .icon-container {
          width: 3.9rem;
          height: 3.9rem;
        }
      }
    }
    .copyright {
      max-width: 22.66875rem;
      margin: 1.3em auto;
      &-text {
        line-height: 18.278px;
        max-width: 17.875rem;
      }
    }
  }

  @include lg {
    bottom: 4.3rem;
    max-width: 69.375rem;
    padding-top: 8em;
    .text-container {
      margin: 0;
      max-width: 36rem;
      .brand-container {
        width: 7.45rem;
        height: 2.95rem;
      }
      .text {
        margin: 0.75rem 0;
      }
    }
    .contact-info {
      grid-template-columns: repeat(3, 1fr);
      gap: 1.5rem;
      margin: 1.6em 0;
      max-width: 38.05rem;
      .row {
        .contact-info__question,
        .contact-info__method {
          font-size: 10.5px;
          line-height: 16px;
        }
        .icon-container {
          width: 2.4rem;
          height: 2.4rem;
        }
      }
    }
    .copyright{
      max-width: unset;
      margin: 3.2em auto;
      &-text {
        max-width: 100%;
      }
    }

  }

  @include xl {
    bottom: 5.375rem;
    .text-container {
      max-width: 45rem;
      .brand-container {
        width: 9.3125rem;
        height: 3.6875rem;
      }
      .text {
        margin: 0.6rem 0;
      }
    }
    .contact-info {
      gap: 1.875rem;
      margin: 2em 0;
      max-width: 14.0625rem;
      max-width: 47.5625rem;
      .row {
        .contact-info__question,
        .contact-info__method {
          font-size: 13.7px;
          line-height: 20px;
        }
        .icon-container {
          width: 3rem;
          height: 3rem;
        }
      }
    }
    .copyright{
      margin: 4em auto;
    }
  }

}

.footer-cta {
  display: none;
  @include lg {
    display: block;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: auto;
    background: rgba(140, 224, 243, 0.5);
    backdrop-filter: blur(25px);
    &__content {
      @include flexbox(space-between, center, row);
      width: 87%;
      height: 6.3rem;
      max-width: 55.5rem;
      margin: 0 auto;
      &__text {
        &__title {
          @include fontStyle(
            22.4px,
            28.224px,
            $--fw-semi-bold,
            $--foreground,
            undefined
          );
          font-family: $--ff-secondary;
          margin-bottom: 0.4rem;
        }
        &__paragraph {
          @include fontStyle(
            var(--fs-ps),
            var(--lh-ps),
            $--fw-regular,
            $--clr-dark-grey,
            undefined
          );
          font-family: $--ff-secondary;
        }
      }
      &__btn {
        @include flexbox(center, center, column);
        @include fontStyle(
          var(--fs-pm),
          var(--lh-pm),
          $--fw-medium,
          $--clr-light,
          undefined
        );
        border-style: none;
        width: 13.75rem;
        padding: 0.48rem;
        border-radius: 2rem;
        background: $--clr-primary-blue;
        cursor: pointer;
        &:hover {
          opacity: 0.6;
        }
      }
    }
  }
  @include xl {
    &__content {
      height: 7.875rem;
      max-width: 69.375rem;
      &__text {
        &__title {
          font-size: 28px;
          line-height: 35.28px;
          margin-bottom: 0.5rem;
        }
        &__paragraph {
          @include fontStyle(
            var(--fs-ps),
            var(--lh-ps),
            $--fw-regular,
            $--clr-dark-grey,
            undefined
          );
          font-family: $--ff-secondary;
        }
      }
      &__btn {
        width: 17.1875rem;
        padding: 0.6rem;
      }
    }
  }
}

.footer-btn {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 3.5rem;
  background-color: $--clr-primary-blue;
  @include fontStyle(
    var(--fs-pm),
    18.75px,
    $--fw-medium,
    #ffffff,
    undefined
  );
  border-style: none;
  cursor: pointer;
  transition: all 100ms linear;
  @include lg {
    display: none;
  }
}
