<footer class="footer">

  <article class="text-container">

    <figure routerLink="/home" class="brand-container">
      <img src="assets/images/brand.png" alt="" class="barmd-container__image">
    </figure>

    <h3 class="footer__title">
      ¿Quién soporta Titulosya.com?
    </h3>

    <p class="text">
      La sinergia entre científicos de datos y abogados especialistas en derecho inmobiliario, con amplia experiencia profesional, lograron automatizar el estudio de títulos en Colombia, utilizando la inteligencia artificial a través de una innovadora plataforma que es Titulosya.com
    </p>
  </article>

  <article class="contact-info">
    <!-- <div class="row">
      <figure class="icon-container">
        <img src="assets/images/icons/whatsapp.svg ">
      </figure>
      <p class="contact-info__question">
        ¿Tienes alguna pregunta?
      </p>
      <p class="contact-info__method">
        + 57 310-437-2766
      </p>
    </div> -->
    <div class="row">
      <figure class="icon-container">
        <img src="assets/images/icons/sms.svg">
      </figure>
      <p class="contact-info__question">
        Escríbenos
      </p>
      <p class="contact-info__method">
        info@titulosya.com
      </p>
    </div>
    <div class="row">
      <figure class="icon-container">
        <img src="assets/images/icons/facebook.svg">
      </figure>
      <figure class="icon-container">
        <img src="assets/images/icons/instagram.svg">
      </figure>
    </div>
  </article>

  <article class="copyright">
    <p class="copyright-text">
      &copy; 2022, Todos los derechos reservados
      por <strong>Estudio de Titulos Ya</strong> | <a href="">Políticas de privacidad</a> y <a href="">Términos y condiciones</a>
    </p>
  </article>
</footer>

<div class="footer-cta">
  <div class="footer-cta__content">
    <article class="footer-cta__content__text">
      <h1 class="footer-cta__content__text__title">
        No esperes más y realiza tu estudio
      </h1>
      <p class="footer-cta__content__text__paragraph">
        Si necesitas realizar más de un estudio <a href="">contáctanos aquí</a>
      </p>
    </article>
    <button
      class="footer-cta__content__btn"
      routerLink="/singleStudy">
      ¡Realiza ya un estudio!
    </button>
  </div>
</div>

<button routerLink="/singleStudy" class="footer-btn">Realiza ya un estudio</button>



