<div class="history">
  <div class="grid-mobile">
    <div class="grid-mobile__element">
      <ul class="grid-mobile__element__titles">
        <li class="grid-mobile__element__titles__item">
          <p class="grid-mobile__element__titles__item__text">
            No. de Matrícula
          </p>
        </li>
        <li class="grid-mobile__element__titles__item">
          <p class="grid-mobile__element__titles__item__text">
            Fecha de estudio
          </p>
        </li>
        <li class="grid-mobile__element__titles__item">
          <p class="grid-mobile__element__titles__item__text">
            Reenviar estudio
          </p>
        </li>
      </ul>
      <ul class="grid-mobile__element__descriptions">
        <li class="grid-mobile__element__descriptions__item">
          <p class="grid-mobile__element__descriptions__item__text">
            3497V034NT395N
          </p>
        </li>
        <li class="grid-mobile__element__descriptions__item">
          <p class="grid-mobile__element__descriptions__item__text">
            14 de Enero de 2021
          </p>
        </li>
        <li class="grid-mobile__element__descriptions__item">
          <button class="grid-mobile__element__descriptions__item__btn">
            Reenviar correo
          </button>
        </li>
      </ul>
    </div>

    <div class="grid-mobile__element">
      <ul class="grid-mobile__element__titles">
        <li class="grid-mobile__element__titles__item">
          <p class="grid-mobile__element__titles__item__text">
            No. de Matrícula
          </p>
        </li>
        <li class="grid-mobile__element__titles__item">
          <p class="grid-mobile__element__titles__item__text">
            Fecha de estudio
          </p>
        </li>
        <li class="grid-mobile__element__titles__item">
          <p class="grid-mobile__element__titles__item__text">
            Reenviar estudio
          </p>
        </li>
      </ul>
      <ul class="grid-mobile__element__descriptions">
        <li class="grid-mobile__element__descriptions__item">
          <p class="grid-mobile__element__descriptions__item__text">
            SJIC8732B23IJ02
          </p>
        </li>
        <li class="grid-mobile__element__descriptions__item">
          <p class="grid-mobile__element__descriptions__item__text">
            13 de Febrero de 2021
          </p>
        </li>
        <li class="grid-mobile__element__descriptions__item">
          <button class="grid-mobile__element__descriptions__item__btn">
            Reenviar correo
          </button>
        </li>
      </ul>
    </div>

    <div class="grid-mobile__element">
      <ul class="grid-mobile__element__titles">
        <li class="grid-mobile__element__titles__item">
          <p class="grid-mobile__element__titles__item__text">
            No. de Matrícula
          </p>
        </li>
        <li class="grid-mobile__element__titles__item">
          <p class="grid-mobile__element__titles__item__text">
            Fecha de estudio
          </p>
        </li>
        <li class="grid-mobile__element__titles__item">
          <p class="grid-mobile__element__titles__item__text">
            Reenviar estudio
          </p>
        </li>
      </ul>
      <ul class="grid-mobile__element__descriptions">
        <li class="grid-mobile__element__descriptions__item">
          <p class="grid-mobile__element__descriptions__item__text">
            989UBV23C23B8C
          </p>
        </li>
        <li class="grid-mobile__element__descriptions__item">
          <p class="grid-mobile__element__descriptions__item__text">
            02 de Febrero de 2022
          </p>
        </li>
        <li class="grid-mobile__element__descriptions__item">
          <button class="grid-mobile__element__descriptions__item__btn">
            Reenviar correo
          </button>
        </li>
      </ul>
    </div>
  </div>
  <div class="grid-desktop">
    <ul class="row-title">
      <li class="row-title__item">
        <p class="row-title__item__text">
          No. de Matrícula
        </p>
      </li>
      <li class="row-title__item">
        <p class="row-title__item__text">
          Fecha de estudio
        </p>
      </li>
      <li class="row-title__item">
        <p class="row-title__item__text">
          Reenviar estudio
        </p>
      </li>
    </ul>

    <ul class="row-description">
      <li class="row-description__item">
        <p class="row-description__item__text">
          3497V034NT395N
        </p>
      </li>
      <li class="row-description__item">
        <p class="row-description__item__text">
          14 de Enero de 2021
        </p>
      </li>
      <li class="row-description__item">
        <button class="row-description__item__btn">
          Reenviar estudio
        </button>
      </li>
    </ul>

    <ul class="row-description">
      <li class="row-description__item">
        <p class="row-description__item__text">
          SJIC8732B23IJ02
        </p>
      </li>
      <li class="row-description__item">
        <p class="row-description__item__text">
          13 de Febrero de 2021
        </p>
      </li>
      <li class="row-description__item">
        <button class="row-description__item__btn">
          Reenviar estudio
        </button>
      </li>
    </ul>

    <ul class="row-description">
      <li class="row-description__item">
        <p class="row-description__item__text">
          989UBV23C23B8C
        </p>
      </li>
      <li class="row-description__item">
        <p class="row-description__item__text">
          02 de Febrero de 2022
        </p>
      </li>
      <li class="row-description__item">
        <button class="row-description__item__btn">
          Reenviar estudio
        </button>
      </li>
    </ul>

    <ul class="row-description">
      <li class="row-description__item">
        <p class="row-description__item__text">
          3058GNN93N3348
        </p>
      </li>
      <li class="row-description__item">
        <p class="row-description__item__text">
          30 de Diciembre de 2020
        </p>
      </li>
      <li class="row-description__item">
        <button class="row-description__item__btn">
          Reenviar estudio
        </button>
      </li>
    </ul>
  </div>
</div>
