<section class="by-registration">
  <div class="by-registration__content">
    <article class="hero">
      <figure class="hero__image">
        <img src="/assets/images/logged/by-registration/pdf-file.svg" alt="Choose your PDF registration">
      </figure>
      <h4 class="hero__text">
        Busca los estudios ya realizados desde aquí
      </h4>
    </article>
    <form class="input-field">
      <label>
        <p class="input-field__label">
          Buscar número de matricula
        </p>
        <input
          type="text"
          name="searchBox"
          id="searchBox"
          class="input-field__container__search-box">
        <input
          type="submit"
          value="Buscar"
          class="input-field__container__btn">
      </label>
    </form>
  </div>
</section>
