<section class="header">
  <figure routerLink="/home" class="logo-container">
    <img src="assets/images/brokenImage.png" alt="TitulosYa logo">
  </figure>

  <nav class="main-navbar">
    <ul class="main-navbar__list">
      <li routerLink="/home" routerLinkActive="active" class="main-navbar__list__item">Inicio</li>
      <li routerLink="/singleStudy" routerLinkActive="active" class="main-navbar__list__item">Realizar Estudio</li>
    </ul>
  </nav>

  <nav class="login-navbar">
    <ul class="login-navbar__list">
      <li routerLink="/login" routerLinkActive="active" class="login-navbar__list__item">Iniciar sesión</li>
      <li routerLink="/register" routerLinkActive="active" class="login-navbar__list__item">Registro</li>
    </ul>
  </nav>
</section>
