<div class="sidenav">

  <article class="greetings">
    <h3 class="greetings__text">
      Hola Clark !
    </h3>
  </article>

  <nav>
    <ul class="sidenav__list">
      <li routerLink="/logged/profile" routerLinkActive="active" class="sidenav__list--item">
        Mi perfil
      </li>
      <li routerLink="/logged/history" routerLinkActive="active" class="sidenav__list--item">
        Historial de estudios
      </li>
      <li routerLink="/logged/studies" routerLinkActive="active" class="sidenav__list--item">
        Realizar estudios
      </li>
      <li routerLink="/logged/byRegistration" routerLinkActive="active" class="sidenav__list--item">
        Consultar por matrícula
      </li>
    </ul>
  </nav>

</div>
