@import "./theme/settings";

.login {
  @include flexbox(center, center, column);
  height: 101vh;
  width: 100%;
  text-align: center;
  &-content {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 2em;
    min-width: 300px;
    &__title {
      font-size: 32px;
      line-height: 42px;
      font-weight: $--fw-light;
    }
    &__fields {
      display: grid;
      grid-template-columns: 1fr;
      row-gap: 0.5em;
      &__input-area {
        padding: 15px 10px;
        border-radius: 5px;
        border: solid 1px rgb(184, 184, 184);
        &:active,
        &:focus {
          outline: none;
        }
      }
    }
    &__btn {
      padding-block: 15px;
      font-size: 16px;
      border-radius: 5px;
      border: solid 1px #4c49a7c5;
      color: #4c49a7c5;
      background-color: transparent;
      transition: all 50ms linear;
      pointer-events: none;
      &.active {
        cursor: pointer;
        background-color: #4c49a7c5;
        color: #fff;
        pointer-events: all;
        &:hover {
          background-color: #4c49a7;
        }
      }
    }

    .register {
      padding: 0 20px 10px;
      margin-inline: auto;
      width: fit-content;
      border-bottom: solid 1px #4c49a700;
      cursor: pointer;
      transition: all 50ms linear;
      opacity: .5;
      &:hover {
        opacity: 1;
        color: #4c49a7c5;
        border-bottom: solid 1px #4c49a7c5;
      }
    }
  }
}
