@import "./theme/settings";

.login {
  @include flexbox(center, center, column);
  min-height: auto;
  height: 80vh;
  width: 87%;
  max-width: 20rem;
  margin: 0 auto;
  padding-top: 6.5rem;
  text-align: center;
  &-content {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 2em;
    width: 100%;
    &__title {
      @include fontStyle(var(--fs-h1), var(--lh-h1), $--fw-semi-bold, $--foreground, undefined);
      font-family: $--ff-secondary;
      margin: 0 auto 0 0.3em;
      &__extra {
        display: none;
      }
    }
    &__fields {
      display: grid;
      grid-template-columns: 1fr;
      row-gap: 0.5em;
      label {
        @include fontStyle(var(--fs-pm), var(--lh-pm), $--fw-regular, $--foreground, undefined);
        margin-right: auto;
        text-align: left;
      }
      &__input-area {
        @include fontStyle(var(--fs-pm), var(--lh-pm), $--fw-light, $--foreground, undefined);
        font-family: $--ff-primary;
        padding: 0.9375rem;
        border-radius: 32px;
        border: solid 1px rgb(184, 184, 184);
        margin-bottom: 1em;
        &:active,
        &:focus {
          outline: none;
        }
        &::placeholder {
          @include fontStyle(var(--fs-pm), var(--lh-pm), $--fw-light, $--foreground-opaque, undefined);
          font-family: $--ff-primary;
          opacity: 0.8;
        }
      }
    }
    &__btn {
      padding: 0.9375rem 0;
      font-size: 16px;
      border-style: none;
      border-radius: 32px;
      color: $--clr-light;
      background-color: #E1E1E1;
      transition: all 50ms linear;
      pointer-events: none;
      &.active {
        cursor: pointer;
        background-color: $--clr-primary-green;
        pointer-events: all;
        &:hover {
          opacity: 0.6;
        }
      }
    }
    .register {
      @include fontStyle(16px, 20px, $--fw-regular, $--clr-primary-blue, undefined);
      padding: 0 1.25rem 0.625rem;
      margin-inline: auto;
      max-width: 14.5625rem;
      color: $--clr-primary-blue;
      cursor: pointer;
      transition: all 50ms linear;
      a,
      a:visited {
        color: $--clr-primary-blue;
      }
      &:hover {
        a {
          opacity: 0.8;
        }
      }
    }
  }

  @include sm {
    max-width: 22rem;
    &-content {
      row-gap: 2.2em;
      &__title {
        margin-left: 0.33em;
      }
      &__fields {
        row-gap: 0.55em;
        &__input-area {
          padding: 1.03125rem;
          margin-bottom: 1.1em;
        }
      }
      &__btn {
        padding: 1.03125rem 0;
      }
      .register {
        padding: 0 1.375rem 0.6875rem;
        max-width: 16.01875rem;
      }
    }
  }

  @include md {
    max-width: 26rem;
    &-content {
      row-gap: 2.6em;
      &__title {
        margin-left: 0.39em;
      }
      &__fields {
        row-gap: 0.65em;
        &__input-area {
          padding: 1.21875rem;
          margin-bottom: 1.3em;
        }
      }
      &__btn {
        padding: 1.21875rem 0;
      }
      .register {
        padding: 0 1.625rem 0.8125rem;
        max-width: 18.93125rem;
      }
    }
  }

  @include lg {
    max-width: 27.5rem;
    &-content {
      &__title {
        margin-left: 0;
        &__extra {
          display: initial;
        }
      }
      .register {
        max-width: 100%;
      }
    }
  }

  @include xl {
    max-width: 34.375rem;
  }
}
