<section class="studies">

  <div class="section-one">
    <figure class="section-one__image-container">
      <img src="assets/images/logged/studies/image 6.png">
    </figure>

    <article class="section-one__text-container">
      <p class="section-one__text-container__paragraph">
        Asegurate que tu PDF no tenga más de 30 días.
      </p>
      <p class="section-one__text-container__paragraph">
        Ingrese a Supernotariado aquí y obtenga su certificado de tradición.
      </p>
      <a
        href="https://www.snrcertificados.co/"
        target="_blank">
        <button
          class="section-one__text-container__btn">
          Ir a Super Notariado aquí
        </button>
      </a>
    </article>

  </div>

  <div class="sectionTwo">
    <article class="sectionTwo__content">
      <div class="sectionTwo__content__article">
        <h1 class="sectionTwo__content__article__subtitle">
          Carga tu certificado
        </h1>
        <p class="sectionTwo__content__article__text">
          Revisa que el archivo sea un PDF y sea el correcto según lo
          descargaste del Super Notario.
        </p>
      </div>

      <div class="upload-container">
        <ul class="links-list">
          <h2 class="links-list__title">Por favor sube tu certificado</h2>
          <span class="upCloud-container">
            <img
              src="/assets/images/singleStudy/upCloud.png"
              class="fas fa-upload"
            />
          </span>
          <li routerLink="/singleStudy" class="button">
            Selecciona tu archivo
          </li>
          <p class="mobile">Selecciona el archivo en tu celular</p>
          <p class="desk">Selecciona un archivo o arrastra y suelta aquí</p>
          <span class="warn-container"> PDF no mayor de 10MB </span>
          <!-- <input type="file" (change)="onUpload($event)" class="button-ghost" content="o arrastra aquí tu archivo">
          <img *ngIf="imgRta" [src]="imgRta"> -->
        </ul>
      </div>
    </article>

  </div>
</section>
