<section class="fail">
  <div class="content">
    <h3>Problemas con el pago</h3>
    <div class="text-content">
      <div class="circle"></div>
      <p class="text">Consulta sencilla</p>
    </div>
    <div class="slider-container">
      <div class="slider">
        <hr />
        <table>
          <tr>
            <th>Resumen de pago</th>
          </tr>
          <tr>
            <td>Valor total</td>
            <td>$000.000</td>
          </tr>
          <tr>
            <td>Impuesto 15%</td>
            <td>$00.000</td>
          </tr>

          <tr>
            <td>Descuento 10%</td>
            <td>$00.000</td>
          </tr>
        </table>
      </div>
    </div>
    <input routerLink="/logged/history" type="button" value="Finalizar" class="content--btn" />
  </div>
</section>
