@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Roboto:wght@300;400;500&family=Sora:wght@400;600;700&display=swap');
@import 'breakpoints';

$--clr-primary-blue: #063FB2;
$--clr-primary-green: #00DB22;
$--clr-light: #f9f9f9;
$--clr-dark: #252525;
$--clr-soft-dark: #505050;
$--clr-dark-grey: #808080;
$--clr-grey: #b5b5b5;
$--clr-dark-opaque: #9A9EA6;

$--background: $--clr-light;
$--foreground: $--clr-dark;
$--foreground-opaque: $--clr-dark-opaque;

$--fw-light: 300;
$--fw-regular: 400;
$--fw-medium: 500;
$--fw-semi-bold: 600;
$--fw-bold: 700;

$--ff-primary: 'Roboto', sans-serif;
$--ff-secondary: 'Sora', sans-serif;
$--ff-tertiary: 'Montserrat', sans-serif;

@mixin flexbox($justify, $align, $direction) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
}

@mixin fontStyle($size, $l-height, $weight, $color, $text-transform) {
    font-size: $size;
    line-height: $l-height;
    font-weight: $weight;
    color: $color;
    text-transform: $text-transform;
}

// Small devices
@mixin sm {
  @media (min-width: #{$screen-sm-min}) {
      @content;
  }
}

// Medium devices
@mixin md {
  @media (min-width: #{$screen-md-min}) {
      @content;
  }
}

// Large devices
@mixin lg {
  @media (min-width: #{$screen-lg-min}) {
      @content;
  }
}

// Extra large devices
@mixin xl {
  @media (min-width: #{$screen-xl-min}) {
      @content;
  }
}

// Custom devices
// @mixin rwd($screen) {
//   @media (min-width: $screen+'px') {
//       @content;
//   }
// }
