<section class="home">

  <div class="hero">
    <div class="hero__content">
      <article class="text-content">
        <h3 class="text-content__title">
          Te facilitamos el proceso para los estudios de títulos de vivienda
        </h3>

        <ul class="links-list">
          <li routerLink="/singleStudy" class="button">Realizar consulta</li>
          <a href="#grid" class="button-ghost">Conocer otros planes</a>
        </ul>
      </article>

      <figure class="hero__content__image-container">
        <img src="/assets/images/brokenImage.png" alt="hero image">
      </figure>
    </div>
  </div>

  <div class="steps">
    <ul class="steps-list">
      <li class="steps-list__item step">
        <div class="circle">
          <h1 class="number">1</h1>
        </div>
        <div class="text-container">
          <h3 class="text-container__content">
            Ingresa a Supernotariado <a href="">aquí</a> y obtén tu certificado de tradición
          </h3>
        </div>
      </li>
      <li class="steps-list__item arrow">
        <span><i class="fas fa-long-arrow-alt-right"></i></span>
      </li>
      <li class="steps-list__item step">
        <div class="circle">
          <h1 class="number">2</h1>
        </div>
        <div class="text-container">
          <h3 class="text-container__content">
            Subir el PDF
          </h3>
        </div>
      </li>
      <li class="steps-list__item arrow">
        <span><i class="fas fa-long-arrow-alt-right"></i></span>
      </li>
      <li class="steps-list__item step">
        <div class="circle">
          <h1 class="number">3</h1>
        </div>
        <div class="text-container">
          <h3 class="text-container__content">
            Recibirás respuesta a tu correo
          </h3>
        </div>
      </li>
    </ul>
  </div>

  <div class="cta">

    <ul class="cta-list">
      <li routerLink="/singleStudy" class="button">Realizar consulta</li>
      <a href="#grid" class="button-ghost">Conocer otros planes</a>
    </ul>

  </div>

  <div class="grid" id="grid">
    <div class="grid-element">
      <h4 class="grid-element__title">Una consulta</h4>
      <div class="grid-element__content">
        <p class="grid-element__content--text">Lorem, ipsum dolor</p>
        <input routerLink="/singleStudy" type="button" value="Comprar" class="grid-element__content--btn">
      </div>
    </div>

    <div class="grid-element">
      <h4 class="grid-element__title">Plan Platinum</h4>
      <div class="grid-element__content">
        <p class="grid-element__content--text">Lorem, ipsum dolor</p>
        <p class="grid-element__content--text">Lorem, ipsum</p>
        <input type="button" value="Comprar" class="grid-element__content--btn">
      </div>
    </div>

    <div class="grid-element">
      <h4 class="grid-element__title">Plan Diamante</h4>
      <div class="grid-element__content">
        <p class="grid-element__content--text">Lorem, ipsum dolor</p>
        <p class="grid-element__content--text">Lorem, ipsum dolor</p>
        <p class="grid-element__content--text">Lorem, ipsum</p>
        <input type="button" value="Comprar" class="grid-element__content--btn">
      </div>
    </div>

    <div class="grid-element">
      <h4 class="grid-element__title">Plan Empresarial</h4>
      <div class="grid-element__content">
        <p class="grid-element__content--text">Lorem, ipsum dolor</p>
        <p class="grid-element__content--text">Lorem, ipsum dolor</p>
        <p class="grid-element__content--text">Lorem, ipsum</p>
        <p class="grid-element__content--text">Lorem, ipsum dolor</p>
        <input type="button" value="Comprar" class="grid-element__content--btn">
      </div>
    </div>
  </div>


</section>
