<section class="home">
  <div class="hero">

    <figure class="hero__image-container">
      <img src="/assets/images/home/Frame 1491.png" alt="hero image" />
    </figure>

    <div class="hero__content">

      <article class="text-content">
        <h2 class="text-content__title">
          <span>Estudios de títulos</span><br />para tus propiedades
        </h2>

        <p class="text-content__paragraph">
          Nos apoyamos en intelegencia artificial para realizar estudios de
          títulos en tiempo récord sobre certificados de libertad y tradición
          obtenidos de las oficinas de registro de instrumentos públicos en
          Colombia.
        </p>
      </article>
    </div>
  </div>

  <div class="solutions">
    <h2 class="solutions__title">Con nosotros puedes conocer</h2>

    <figure class="solutions__image-container">
      <img
        src="/assets/images/home/2search 1.gif"
        alt="googling an icon house"
      />
    </figure>

    <nav class="solutions__list">
      <li class="solutions__list__item">
        <span>
          <img
            src="/assets/images/home/check.png"
            alt="check for this solution"
            class="solutions__list__item__arrow"
          />
        </span>
        <p class="solutions__list__item__text">
          ¿Quién o quiénes son los propietarios del inmueble?
        </p>
      </li>
      <li class="solutions__list__item">
        <span>
          <img
            src="/assets/images/home/check.png"
            alt="check for this solution"
            class="solutions__list__item__arrow"
          />
        </span>
        <p class="solutions__list__item__text">
          ¿Si existe algún tipo de pignoración o limitación al derecho de
          dominio sobre el bien?
        </p>
      </li>
      <li class="solutions__list__item">
        <span>
          <img
            src="/assets/images/home/check.png"
            alt="check for this solution"
            class="solutions__list__item__arrow"
          />
        </span>
        <p class="solutions__list__item__text">
          ¿Cuáles son los linderos del inmueble y/o qué bienes componen el
          inmueble estudiado?
        </p>
      </li>
    </nav>
  </div>

  <div class="steps">
    <h2 class="steps__title">En tan sólo 3 simples pasos</h2>

    <ul class="steps-list">
      <li class="steps-list__item step">
        <figure class="icon">
          <img
            src="/assets/images/home/step1.png"
            alt="step 1 get certificate"
            class="icon_image"
          />
        </figure>
        <div class="text-container">
          <h3 class="text-container__content">
            Ingresa a <a target="_blank" href="https://www.snrcertificados.co/">Supernotariado aquí</a> y obtén tu certificado
            de tradición
          </h3>
        </div>
      </li>
      <li class="steps-list__item step">
        <figure class="icon">
          <img
            src="/assets/images/home/step2.png"
            alt="step 2 upload your  certificate"
            class="icon_image"
          />
        </figure>
        <div class="text-container">
          <h3 class="text-container__content">
            Sube el PDF de tu certificado de tradición y libertad
          </h3>
        </div>
      </li>
      <li class="steps-list__item step">
        <figure class="icon">
          <img
            src="/assets/images/home/step3.png"
            alt="get your study in your email"
            class="icon_image"
          />
        </figure>
        <div class="text-container">
          <h3 class="text-container__content">
            Recibe tu estudio en tu correo electrónico
          </h3>
        </div>
      </li>
    </ul>
  </div>

  <div class="grid-container">
    <div class="grid" id="grid">
      <div class="grid-element">
        <div class="grid-element__content green">
          <figure class="avatar">
            <img
              src="/assets/images/home/premium.gif"
              alt="Choose this option for preferencial studies"
              class="avatar_image"
            />
          </figure>
          <div class="grid-element__content__card">
            <h4 class="grid-element__content__card__title">$399.000</h4>
            <p class="grid-element__content__card__subtitle">
              Por cada estudio en menos de <strong>24 horas</strong>
            </p>
            <hr />
            <p class="grid-element__content__card__spec">
              Análisis del certificado de libertad
            </p>
            <p class="grid-element__content__card__spec">
              Almacenamiento del estudio hasta por 3 meses*
            </p>
          </div>
          <input
            routerLink="/singleStudy"
            type="button"
            value="Realizar Estudio"
            class="grid-element__content--btn"
          />
        </div>
      </div>

      <div class="grid-element">
        <div class="grid-element__content yellow">
          <figure class="avatar">
            <img
              src="/assets/images/home/standard.gif"
              alt="Choose this option for one single full study"
              class="avatar_image"
            />
          </figure>
          <div class="grid-element__content__card">
            <h4 class="grid-element__content__card__title">Personalizado</h4>
            <p class="grid-element__content__card__subtitle">
              Contáctanos y te asesoramos
            </p>
            <hr />
            <p class="grid-element__content__card__spec">
              Paquete para varios estudios
            </p>
            <p class="grid-element__content__card__spec">
              Aplica para más de 10 estudios al mes
            </p>
            <p class="grid-element__content__card__spec">
              Llena el formulario y uno de nuestros asesores te estará contactando</p>
          </div>
          <input
            (click)="customize = true"
            type="button"
            value="Diligenciar formulario"
            class="grid-element__content--btn"
          />
        </div>
      </div>
    </div>
  </div>

  <div [ngClass]="{ customize: customize }" class="call-to-action">
    <div class="call-to-action__card">
      <div (click)="customize = false" class="close">
        <i class="fas fa-times"></i>
      </div>
      <figure class="call-to-action__card__image">
        <img
          src="/assets/images/home/standard.gif"
          alt="Would you like to register? / diamond with stars"
        />
      </figure>
      <h2 class="call-to-action__card__title">Personaliza tu estudio</h2>
      <p class="call-to-action__card__text">
        Déjanos tus datos y en breve un asesor se contactará contigo
      </p>

      <form
        class="contact-form"
        [formGroup]="contactForm"
        (ngSubmit)="sendForm(contactForm)"
      >
        <div class="input-group">
          <label>
            Déjanos tu nombre completo
            <input
              autofocus
              type="text"
              formControlName="name"
              name="name"
              id="name"
              class="input-group__input-area"
              placeholder="Nombre"
            />
          </label>
        </div>
        <div class="input-group">
          <label>
            Ingresa tu correo electrónico
            <input
              type="email"
              formControlName="email"
              name="email"
              id="email"
              class="input-group__input-area"
              placeholder="@mail.com"
            />
          </label>
        </div>
        <div class="input-group">
          <label>
            Ingresa un número en el que podamos contactarte
            <input
              type="number"
              formControlName="tel"
              name="tel"
              id="tel"
              class="input-group__input-area"
            />
          </label>
        </div>
        <div class="input-group">
          <label>
            Describe tu solicitud <span>(opcional)</span>
            <textarea
              formControlName="description"
              name="description"
              id="description"
              class="input-group__input-area"
              cols="30"
              rows="10"
            ></textarea>
          </label>
        </div>

        <div class="politics">
          <input
            formControlName="check"
            name="check"
            type="checkbox"
            id="check"
            value="agree"
          />
          <label for="check" class="politics-label">
            Al dejar mi datos estoy aceptando las <a href="">Políticas de Privacidad</a> por
            parte de Titulos Ya
          </label>
        </div>

        <input
          [class.active]="contactForm.valid"
          [disabled]="contactForm.invalid"
          type="submit"
          id="submit"
          value="Contactar"
          class="btn"
        />
      </form>
    </div>
  </div>
</section>
